table {
    color: white;
    margin: 5px;
    padding: 10px;
}

.moda th {
    background-color: #bb86fc;
    padding: 10px;
}

td {
    background-color: #424250;
    padding: 10px;
}

.casa th {
    background-color: #00c4b4;
    padding: 10px;
}